.foodsContainer{
    margin: 40px 0px;
    position: relative;
}
.foodsnavbar{
    display: flex;
    justify-content: center;
    
}
.foodsnavbar a{
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    /* transition: all; */
}
.foodsnavbar a:hover{
    color: crimson;
    border-bottom: 2px solid crimson;
    padding-bottom: 5px;
    transition: all 0.5s ease-in-out 0.1s ;   
}

/* active css */
.active{
    color: crimson;
    border-bottom: 2px solid crimson;
    padding-bottom: 5px;
}