.foodsContainer{
    margin: 40px 0px;
    position: relative;
}
.foodsnavbar{
    display: flex;
    justify-content: center;
    
}
.foodsnavbar a{
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    /* transition: all; */
}
.foodsnavbar a:hover{
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    transition: color 0.7s ease-in-out 0.1s ;
    
}