.headerContainer .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    padding: 10px
}

.navbar .navbarLogo img{
    width: 150px;
    height: 60px;
}
.headerContainer .navbarOption ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarOption ul li{
    margin-left: 30px;
}
.navbarOption ul li a{
    text-decoration: none;
    
    /* color: #000; */
}
.navbarOption ul li a:hover{
    background-color: crimson;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0.1s;
}
.navbarOption .userNavbarImg{
    border: 1px solid crimson;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 760px) and (min-width: 300px){
    .headerContainer{
        width: 100%;
        /* background-color: aquamarine; */
    }
    .headerContainer .navbar{
        margin: 0px 10px;

    }
    .bannerContainer{
        width: 100%;
        background-repeat: no-repeat;
        /* height: 400px; */
        background-size: cover;
        background-position: center;
    }
    .bannerContainer .bannerTitle h1{
        font-size: 20px;
    }

}