.headerContainer .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.headerContainer .navbarOption ul {
    list-style: none;
    display: flex;
    
}
.navbarOption ul li a{
    text-decoration: none;
    margin-left: 10px;
}
.bannerContainer{
    width: 100%;
    height: 410px;
    background-image: url(../../Images/bannerbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bannerContainer .bannerTitle{
    text-align: center;
}
.bannerTitle .bannerSearch input{
    padding: 5px 10px;
    border:0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50%;
    margin-right: -30px;
}