.footerContainer{
    background-color: #000000;
    padding: 0px 50px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
}
.footerContainer .footerTitle{
    padding-bottom: 80px;
    text-align: center;
}
.footerContainer .footerTitle p{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.footerContainer .footerTitle input{
    background-color: #000;
    padding: 20px 10px;
    width: 25%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid crimson;
    border-radius: 30px;
    color: #fff;
}
.footerContainer .footerTitle button{
    background-color: crimson;
    color: #fff;
    padding: 28px 20px;
    border: 0;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    cursor: pointer;

}
.footerContainer .footer1Part{
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
}
.footer1Part a{
    text-decoration: none;
    display: block;
    color: #fff;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footerContainer .footer2Part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}
.footer2Part a{
    display: block;
    text-decoration: none;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer2Part .part2Option{
    display: flex;
}
.footer2Part .part2Option a{
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
    
}