.signUpContainer{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-image: url(../../../Images/bannerbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpContainer .fileUpload{
    cursor: pointer;
}
.signUpContainer .fileUpload input[type="file"]{
    display: none;
}
.fileUpload .successMsg{
    color: green;
}
.signUpContainer .commonInput{
    width: 94%;
    margin: 5px 0px;
    padding: 15px 8px;
    background-color: rgba(220, 20, 60, 0.586);
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}
.signUpContainer .commonInput:hover{
    background-color: crimson;
    color: black;
}
.signUpContainer .fullName{
    margin: 5px 0px;
    /* display: flex; */
}
.signUpContainer .name{
    width: 45.5%;
    padding: 15px 8px;
    background-color: rgba(220, 20, 60, 0.586);
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 500;
}
.signUpContainer .gender{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signUpContainer .genderInput{
    color: rgba(220, 20, 60, 0.586);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signUpContainer .formBtn{
    margin: 10px 0px;
    text-align: right;
}
.signUpContainer .errorMsg{
    color: red;
}
.signInWithGoogleBtn{
    background-color: rgba(220, 20, 60, 0.586);
    font-size: 40px;
    /* padding: 2px 5px; */
    border: 0;
    border-radius: 5px;
    width: 96%;
    cursor: pointer;
    margin-top: 20px;
}
.signInMsg{
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}